 
<div class="container">
<mat-toolbar>
    <span class="titlePage" style="position: absolute; padding-top: 9px;">Empresas App</span>
</mat-toolbar>
</div>
<br>
<mat-drawer-container class="page-wrapper">
    <mat-drawer-content>
      <form [formGroup]="clientForm">
        <div fxLayout="row wrap" class="p-2">
          <div fxFlex="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" class="p-2">
            <mat-card style="padding: 0px !important;">
              <div fxLayout="row wrap" class="p-2">
                <div fxFlex="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xs="100" class="p-2">
                  <h1 class="layoutTitle">Lista de Clientes</h1>
                  <mat-card style="padding: 0px !important;">
                    <div fxLayout="row wrap" class="p-2">
                      <div fxFlex="25" fxFlex.gt-sm="25" fxFlex.sm="25" class="p-2">
                        <mat-form-field appearance="outline" class="no-padding">
                          <mat-label>Número de Factura, Contrato, NCF </mat-label>
                          <!-- <input matInput autocomplete="off" placeholder="Número de Factura" formControlName="filtroTodos" type="text"> -->
                        </mat-form-field>
                      </div>
                      <div fxFlex="25" fxFlex.gt-sm="25" fxFlex.sm="25" class="p-2">
                        <button mat-raised-button color="primary" class="mx-2 m-2"  >
                          Buscar
                        </button>
                      </div>
                    </div>
                  </mat-card>
                </div>
                <!-- <div *ngIf="loading" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
                  <mat-spinner color="accent"></mat-spinner>
                </div> -->
              </div>
            </mat-card>
          </div>
        </div>
      </form>
    </mat-drawer-content>
  </mat-drawer-container>