.mat-toolbar {
    background-image: initial;
    background-color: blue;
    color: rgb(255, 255, 255);

}

.titlePage {
    font-size: xx-large;
    text-align: center;
    display: inline-block;
    width: 100%;
  }

.layoutTitle {
    font-size: x-large;
    text-align: center;
    display: inline-block;
    width: 80%;
  }