USE [master]
GO
/****** Object:  Database [EmpresaX]    Script Date: 3/11/2021 2:01:43 PM ******/
CREATE DATABASE [EmpresaX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmpresaX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmpresaX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmpresaX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmpresaX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmpresaX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmpresaX]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 3/11/2021 2:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](40) NULL,
	[Apellido] [varchar](40) NULL,
	[Cedula] [varchar](15) NULL,
	[Telefono] [varchar](20) NULL,
	[Nacionalidad] [varchar](20) NULL,
	[EstadoCivil] [varchar](20) NULL,
	[IdEmpresa] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECCION]    Script Date: 3/11/2021 2:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECCION](
	[IdDireccion] [int] IDENTITY(1,1) NOT NULL,
	[Direccion_Principal] [varchar](100) NULL,
	[Direccion_Secundaria] [varchar](100) NULL,
	[Ciudad] [varchar](20) NULL,
	[Provincia] [varchar](20) NULL,
	[Numero] [varchar](20) NULL,
	[CodigoPostal] [varchar](10) NULL,
	[IdCliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPRESAS]    Script Date: 3/11/2021 2:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESAS](
	[IdEmpresas] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NULL,
	[Direccion] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
	[Telefono] [varchar](20) NULL,
	[CodigoPostal] [varchar](20) NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpresas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([IdCliente], [Nombre], [Apellido], [Cedula], [Telefono], [Nacionalidad], [EstadoCivil], [IdEmpresa]) VALUES (14, N'Dawich', N'Rodriguez', N'402-311-3487', N'829-970-3724', N'DOMINICANO', N'SOLTERO', 1)
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
SET IDENTITY_INSERT [dbo].[DIRECCION] ON 

INSERT [dbo].[DIRECCION] ([IdDireccion], [Direccion_Principal], [Direccion_Secundaria], [Ciudad], [Provincia], [Numero], [CodigoPostal], [IdCliente]) VALUES (24, N'Calle Juan A. Ibarra #192', N'Parte Atras', N'Santo Domingo', N'Cristo Rey', N'809-563-1889', N'410025', 14)
SET IDENTITY_INSERT [dbo].[DIRECCION] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPRESAS] ON 

INSERT [dbo].[EMPRESAS] ([IdEmpresas], [Nombre], [Direccion], [Ciudad], [Telefono], [CodigoPostal], [Estado]) VALUES (1, N'EMPRESA X', N'Av. México Esq. Calle Abreu', N'Santo Domingo', N'809-970-3724', N'10205', N'ACTIVA')
SET IDENTITY_INSERT [dbo].[EMPRESAS] OFF
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_ClienteEmpresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[EMPRESAS] ([IdEmpresas])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_ClienteEmpresa]
GO
ALTER TABLE [dbo].[DIRECCION]  WITH CHECK ADD  CONSTRAINT [FK_DireccionCliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[CLIENTE] ([IdCliente])
GO
ALTER TABLE [dbo].[DIRECCION] CHECK CONSTRAINT [FK_DireccionCliente]
GO
USE [master]
GO
